* {}

:root {
    --color: darkBlue;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color);
}

body {}

header{}

header p{}

footer {}

.box {
    display: flex;
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border-width: thin;
    margin-bottom: 20px;
    
}

.box h2 {
    display: flex;
    border: solid 2px black;
    justify-content: center;

}

.box p {}

.box pre {}