* {
    background-color: darkslategray;
}

:root {
    --color: rgb(73, 73, 219) ;
}

main {}

body {}

header{
    text-align: center;
    color: var(--color);
    
}

header p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    color: white;
}

footer {
    text-align: center;
    color: var(--color);
}

.box {
    display: flex;
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border-width: thin;
    margin-bottom: 20px;
    
}

.box h2 {
    display: flex;
    border: solid 2px black;
    justify-content: center;

}

.box p {}

.box pre {}