* {
    background-color: darkslategray;
}

:root {
    --color: rgb(73, 73, 219) ;
}

main {
    
}

body {}

header{
    text-align: center;
    color: var(--color);
    
}

header p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    color: white;
}

footer {
    text-align: center;
    color: var(--color);
}

.box {}

.box h2 {}

.box p {}

.box pre {}